@* このテンプレートの引数 *@
@(campaigns: Seq[CampaignsRow])

@* main.scala.htmlを呼ぶ *@
@main("ユーザー一覧") {
<div>
	<a href="@routes.CampaignsController.edit()" class="btn btn-info" role="button">新規作成</a>
</div>

<div class="col-xs-12">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>タイトル</th>
			<th>コンテンツ</th>
			<th>計測URL</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		@* ユーザ一覧をループ *@
		@campaigns.map { campaign =>
		<tr>
			<td>@campaign.id</td>
			<td><a href="">@campaign.name</a></td>
			<td>@campaign.title</td>
			<td>@campaign.contents_text</td>
			<td>@campaign.destination_url</td>
			<td>
				<a href="@routes.CampaignsController.edit(campaign.id)" class="btn btn-warning btn-xs" role="button">編集</a>
				<input type="submit" value="削除" class="btn btn-danger btn-xs">
				</td>
		</tr>
		}
		</tbody>
	</table>
</div>
}