@* このテンプレートの引数 *@
@(campaigns: Seq[models.Tables.CampaignsRow])

@* main.scala.htmlを呼ぶ *@
@main("ユーザー一覧") {
<div>
	<a href="" class="btn btn-success" role="button">新規作成</a>
</div>

<div class="col-xs-6">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>タイトル</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		@* ユーザ一覧をループ *@
		@campaigns.map { campaign =>
		<tr>
			<td>@campaign.id</td>
			<td><a href="">@campaign.name</a></td>
			<td><a href="">@campaign.title</a></td>
			<td>
				<input type="submit" value="削除" class="btn btn-danger btn-xs">
				</td>
		</tr>
		}
		</tbody>
	</table>
</div>
}